<div class="container">
  <header>
    <h1>Todo List</h1>
  </header>
  <form (submit)="addTodo()" >
    <input
    type="text"
    name="inputTodo"
    placeholder="enter Todo..."
    class="todo-input"
    [(ngModel)]= "inputTodo" >
    <input type="submit" value="Add Todo" class="todo-submit">
  </form>
  <div class="todo" *ngFor="let todo of todos; let i = index;" class="todo {{(todo.completed ? 'done' : '')}} ">
    <div calss="id">{{i}}</div>
    <div class="contet" (click)="toggleDone(i)">{{todo.content}}</div>
    <button class="delete" (click)="deleteTodo(i)">Remove</button>
  </div>

</div>
