<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6 ">
      <div *ngIf="this.dataServer.getEquation().length>0; else noMemoryBlock">
        <div *ngFor="let item of dataServer.getEquation().reverse()">
          <div class="card m-1">
            <div class="card-body">
              <h4 class=text-muted>{{item}}</h4>
            </div>

          </div>
        </div>

    </div>
    <ng-template #noMemoryBlock>
      <div class="card">
        <div class="card-body">
          <h4 class="text-muted">No results yet.</h4>
        </div>

      </div>
    </ng-template>
  </div>

</div>
</div>
